body {
    background-color: light rgb(37, 4, 4);
    font-family: Arial;
}

.card {
    width: 300px;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    padding: 30px;
    margin: auto;
    margin-top: 80px;
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid lightgrey;
}

h1 {
    margin-top: 20px;
    margin-bottom: 8px;
}

h2 {
    color: gray;
    margin-top: 5px;
}

button {
    width: 250px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
}