body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.container {
    width: 300px;
    height: 400px;
    position: relative;
}

.ball {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2196f3;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 2.5s ease-in-out infinite;
}

@keyframes bounce {
    0% {
        top: 20px;
    }
    25% {
        top: 300px;
    }
    50% {
        top: 120px;
    }
    75% {
        top: 300px;
    }
    100% {
        top: 50px;
    }
}