* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient( rgba(3, 25, 80, 0.65), rgba(3, 25, 80, 0.65)), url("https://images.unsplash.com/photo-1550751827-4bd374c3f58b?w=1600");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    overflow: hidden;
}

.overlay {
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

header {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 42px;
    font-weight: 300;
    color: #ff972f;
}

.logo span {
    font-size: 12px;
    background: #ff2f36;
    color: white;
    padding: 3px 6px;
    border-radius: 3px;
    position: relative;
    top: -18px;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.top-btn {
    border: none;
    background: #0f6fff;
    color: white;
    padding: 14px 28px;
    border-radius: 30px;
    cursor: pointer;
}

.hero {
    height: calc(100vh - 90px);
    position: relative;
}

.content {
    position: absolute;
    top: 45%;
    right: 8%;
    transform: translateY(-50%);
    width: 520px;
}

.content h1 {
    font-size: 60px;
    line-height: 1.15;
    font-weight: 700;
    margin-bottom: 25px;
}

.content h1 span {
    display: block;
    color: #2f7cff;
}

.content p {
    width: 450px;
    font-size: 18px;
    line-height: 1.8;
    color: #d9d9d9;
    margin-bottom: 25px;
}

.social-icons {
    display: flex;
    gap: 18px;
    margin-bottom: 30px;
}

.social-icons i {
    color: #2f7cff;
    cursor: pointer;
    font-size: 16px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.btn1,
.btn2 {
    border: none;
    border-radius: 30px;
    padding: 15px 35px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.btn1 {
    background: #0f6fff;
    color: white;
}

.btn2 {
    background: #0f6fff;
    color: white;
}